body {
    margin: 0;
}
.container {
    padding: 8px;
    margin: auto;
    width: 400px;
}

.flex {
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-1{
    flex: 1;
}
.item {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 8px;
}